a{
    text-decoration: none;
    color:black;
}
a:hover{
    color: white;
}

body{
    background-image: url("predios_e_cantina.jpg");
    background-repeat:no-repeat;
  
    background-position:center;
    color: white;
}

